main {
  display: flex;
  justify-content: center;
  padding: 40px;
  text-align: center;
}

main div {
  width: 250px;
  height: 400px;
}
.orange {
  background-color: orangered;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}
